/*	imported fonts:
font-family: 'Raleway', ;
font-family: 'Simonetta', ;*/

#header {
  width: 100%;
  height: 200px;
  position: relative;
}

#background, #foreground
{
	width: 100%;
	height: 100%;
	position: absolute;
}

#background
{
	z-index: 1;
	background-image: url("skull.png");
	filter: brightness(0) saturate(100%) invert(27%) sepia(100%) saturate(1278%) hue-rotate(264deg) brightness(92%) contrast(105%);
	background-repeat: repeat;
  	background-size: 70px auto;
  	padding-top: 10px;
  	margin-top: -5px;
}

#foreground
{
	z-index: 9999;
}


#colorRange
{
	margin-bottom: 40px;
	width: 70%;
}


#rangeAxis text
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: stretch;
}


#heatmaps, #mapView
{
	display: flex;
	flex-wrap: wrap;
}

#valueBox
{
	position: absolute;
	height: 22px;
	width: 150px;
}

h1
{
	text-transform: uppercase;
	letter-spacing: 5px;
	line-height: 0.6;
	font-family: 'Raleway';
	font-size: 60px;
}

h4
{
	font-family: 'Simonetta';
	font-size: 25px;
	color: gray;
	width: 70%;
	border-bottom: double black 1px;
	margin-bottom: 5px;
}

